#prompt{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}
.prompt-input{
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-size: medium;
}

.file-path-container{
    display: flex;
    flex-direction: row;
}

.nf{
    color: rgb(255, 255, 255);
    background-color: #3a5a40;
    padding: 0 0.2rem;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.file-path{
    width: fit-content;
    background:linear-gradient(90deg, #3a5a40 0%, #588157 35%, #a3b18a 100%);
    padding: 0 2rem 0 1rem;
    margin-left: 0;
    font-weight: bold;
}


.user-input{
    flex-grow: 2;
    background-color: inherit;
    outline: none;
    border: none;
    margin-left: 0.5rem;
    color: #a3b18a;
    font-weight: bold;
   
}

.prompt-output>p{
    margin-top: 0;
    margin-bottom: 0;
}
.prompt-output{
    margin-left: 0.75rem;
}

.prompt-icon{
    flex-grow: 0;
}
