#prompt{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}
.prompt-input{
    display: flex;
    flex-direction: row;
}

.prompt-output{
    flex-grow: 2;
    margin-left: 0.5rem;
    color: green;
}

.prompt-output>p{
    margin-top: 0;
    margin-bottom: 0;
}

.prompt-icon{
    flex-grow: 0;
}
