#prompt{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}
.prompt-input{
    display: flex;
    flex-direction: row;
    font-weight: bold;
}

.file-path-container{
    display: flex;
    flex-direction: row;
}

.nf{
    color: rgb(255, 255, 255);
    background-color: rgb(61, 168, 234);
    padding: 0 0.2rem;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.file-path{
    width: fit-content;
    background:linear-gradient(90deg, rgb(4, 166, 235) 0%, rgb(46, 171, 220) 35%, rgba(231, 251, 255, 0.646) 100%);
    padding: 0 2rem 0 1rem;
    margin-left: 0;
    font-weight: bold;
}

.prompt-output{
    flex-grow: 2;
    margin-left: 0.5rem;
    color: rgb(79, 208, 251);
    font-weight: bold;
}

.prompt-output>p{
    margin-top: 0;
    margin-bottom: 0;
}

.prompt-icon{
    flex-grow: 0;
}
