@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono:ital@0;1&display=swap');
.topbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    height: 1.5rem;
    background-color:#344E41;
    color: white;
    font-size: small;
    font-family: "Xanh Mono", monospace;
}

.topbar>div{
    padding: 0.2rem 1rem;
}

.bartitle{
    display: flex;
    flex-direction: row;
    align-items: center;
}
