<header>
    <div id="profilePicture">
       
        <div class="ascii-art"> <pre>               

            ░██████╗██╗███╗░░██╗████████╗██╗░░██╗██╗░░░██╗░██████╗██╗░░██╗░█████╗░███╗░░██╗██╗░██████╗
            ██╔════╝██║████╗░██║╚══██╔══╝██║░░██║██║░░░██║██╔════╝██║░░██║██╔══██╗████╗░██║╚█║██╔════╝
            ╚█████╗░██║██╔██╗██║░░░██║░░░███████║██║░░░██║╚█████╗░███████║███████║██╔██╗██║░╚╝╚█████╗░
            ░╚═══██╗██║██║╚████║░░░██║░░░██╔══██║██║░░░██║░╚═══██╗██╔══██║██╔══██║██║╚████║░░░░╚═══██╗
            ██████╔╝██║██║░╚███║░░░██║░░░██║░░██║╚██████╔╝██████╔╝██║░░██║██║░░██║██║░╚███║░░░██████╔╝
            ╚═════╝░╚═╝╚═╝░░╚══╝░░░╚═╝░░░╚═╝░░╚═╝░╚═════╝░╚═════╝░╚═╝░░╚═╝╚═╝░░╚═╝╚═╝░░╚══╝░░░╚═════╝░
            
            ██████╗░░█████╗░██████╗░████████╗███████╗░█████╗░██╗░░░░░██╗░█████╗░
            ██╔══██╗██╔══██╗██╔══██╗╚══██╔══╝██╔════╝██╔══██╗██║░░░░░██║██╔══██╗
            ██████╔╝██║░░██║██████╔╝░░░██║░░░█████╗░░██║░░██║██║░░░░░██║██║░░██║
            ██╔═══╝░██║░░██║██╔══██╗░░░██║░░░██╔══╝░░██║░░██║██║░░░░░██║██║░░██║
            ██║░░░░░╚█████╔╝██║░░██║░░░██║░░░██║░░░░░╚█████╔╝███████╗██║╚█████╔╝
            ╚═╝░░░░░░╚════╝░╚═╝░░╚═╝░░░╚═╝░░░╚═╝░░░░░░╚════╝░╚══════╝╚═╝░╚════╝░                                
       </pre></div>


    </div>
    <div id="my-info">
        <p class="neo-info"><span class="white"> root&#64;sinthushanportfolio </span> </p>
        <p class="neo-info">----------------------------------- </p>
        <p class="neo-info">Github: <a href="https://github.com/sinthushan">https://github.com/sinthushan</a></p>
        <p class="neo-info">Contact: <a href="mailto:Sinthushan$gmail.com">sinthushan&#64;gmail.com</a></p>
        <p class="neo-info">languages:<span class="white"> Python, Javascript, SQL, VBA </span> </p>
        <p class="neo-info">Frameworks:<span class="white">  Django, Flask, React, Express </span> </p>
    </div>
</header>
