#terminal{
    width: 61%;
    height: 100%;
    margin-top: 2rem;
    background-color: #3a5a40c6;
    color: #a3b18a;
    border-radius : 4px;
    overflow-y: auto;
    scrollbar-color: #3a5a40c6 #344e41;
    scrollbar-width: thin;
    scroll-margin-top: 10rem;
    box-shadow: 0px 5px 10px 2px  rgb(7, 7, 7);
}




.toolbar{
    display: flex;
    align-items: center;
    height: 1.3rem;
    width: 61%;
    background-color: #344e41;
    margin: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    position: relative;
    top: 35px;
    box-shadow: 0px 0px 7px 1px  rgb(0, 33, 32);
    z-index: 99999;
}

.toolbar-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0.751rem;
    width: 0.75rem;
    border-radius: 50%;
    margin: 0rem 0.2rem;
    text-align: center;
    font-size: 0.5rem;
    font-weight: bold;
    color: white;
}

.close{
    background-color: red;
    color: red;
    cursor: pointer;
}
.close:hover{
    color: rgb(141, 3, 3);
}

.minimize{
    background-color: rgb(77, 255, 0);
    color:  rgb(77, 255, 0);
    cursor: pointer;
}

.minimize:hover{
    color:  rgb(5, 93, 2);
}

.help{
    margin-top: 2rem;
    margin-left: 2rem;
}

::ng-deep a:link {
    text-decoration: none;
    color: #ffffff;
}

::ng-deep a:visited {
    text-decoration: none;
    color: #c8c8c8;

}

::ng-deep a:focus {
    text-decoration: none;
    background: #98e4de;
}

::ng-deep a:hover {
    text-decoration: none;
    background: #aaf7fe;
}

::ng-deep a:active {
    
    text-decoration: none;
    background: #00ddff;
    color: #aaf4fe;
}

::ng-deep .white{
    color: whitesmoke;
}