#terminal{
    width: 70%;
    height: 100%;
    background-color: rgba(20, 58, 68, 0.561);
    color:rgb(130, 215, 254);
    border-radius : 4px;
    overflow-y: auto;
    box-shadow: -10px -5px 5px rgb(0, 33, 32);;
}

.toolbar{
    display: flex;
    align-items: center;
    height: 1.3rem;
    width: 100%;
    background-color: rgba(1, 39, 64, 0.517);
    margin: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

}

.toolbar-icon{
    height: 0.751rem;
    width: 0.75rem;
    border-radius: 50%;
    margin: 0rem 0.2rem;
    text-align: center;
    font-size: x-small;
    font-weight: bold;
    color: white;
}

.close{
    background-color: red;
    color: red;
    cursor: pointer;
}
.close:hover{
    color: rgb(134, 3, 3);
}

.minimize{
    background-color: rgb(77, 255, 0);
    color:  rgb(77, 255, 0);
    cursor: pointer;
}

.minimize:hover{
    color:  rgb(5, 93, 2);
}

::ng-deep a:link {
    text-decoration: none;
    color: #ffffff;
}

::ng-deep a:visited {
    text-decoration: none;
    color: #c8c8c8;

}

::ng-deep a:focus {
    text-decoration: none;
    background: #98e4de;
}

::ng-deep a:hover {
    text-decoration: none;
    background: #aaf7fe;
}

::ng-deep a:active {
    
    text-decoration: none;
    background: #00ddff;
    color: #aaf4fe;
}

::ng-deep .white{
    color: whitesmoke;
}